/**
 * Svg görseller seçilebilirdi, bu da özellikle fiyat maddesini kopyalarken
 * engel teşkil ediyordu hızlı bir düzeltme yapıldı. 
 */
img {
  user-select: none;
}

/**  
 * Chrome, Safari ve Opera için eğer resim yüklenemesse `Broken Icon`ı ekranda gizleyip
 * yerine görselin `alt` attr'sini gösteriyorum.
 *
 * https://stackoverflow.com/questions/22051573/how-to-hide-image-broken-icon-using-only-css-html
 *
 */
img {
  position: relative;

  &[alt]:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-weight: inherit;
    text-align: left;
    content: attr(alt);
  }
}

/**
 * Dosyalamamda section için özel bir yer henüz bulamadım.
 */
section {
  @include margin(2.5rem auto);
}


/**  
 * Hızlıca seçim rengi belirlendi
 */
::selection{
  color: $beyaz;
  background-color: $ana-renk--400;
}
