// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Inter
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  font-family: $root-font-family;
  font-size: $root-font-size;

  @include medya(lg) {
    font-size: $root-font-size--mobil;
  }
}

@include font-sizes($font-listesi);

img {
  @include font-size(20px);
  font-family: 'Inter', sans-serif;
}
