.buton {
  @include padding(0.5rem 1rem);
  @include margin(0.5rem);
  @include font-size(1rem);
  @extend %buton;
  @extend %golge-2;

  display: inline-flex;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  border: 1px solid transparent;
  color: $beyaz;
  background-color: $ana-renk;
  border-radius: 4px;
  font-weight: 600;

  &--link {
    @extend .buton;

    /**  
     * `%golge-2`den gelen gölge kapatıldı
    */
    box-shadow: unset;
    filter: unset;

    font-weight: 400;
    color: $ana-renk;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}
