.translate {
  margin-left: 3.5rem;
  @include flex-row-center;

  &__buton {
    @include font-size(0.875rem);
    @include padding(0.5rem);

    font-weight: 400;
    color: rgba($gri, $alpha: 0.6);

    &--aktif {
      font-weight: 600;
      color: $ana-renk;
    }
  }

  @include medya(md) {
    display: none;
  }
}
