/// Varsayılan gölge ayarı
%golge {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}

/// Gölge ayarı 2
%golge-2 {
  filter: drop-shadow(0px 8px 16px hsla(242, 70%, 51%, 0.32));
}

/// Butonlar için hızlı reset
%buton {
  white-space: nowrap;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
}

/// Flex start
/// @group flex
%flex-start {
  align-items: start;
  align-content: start;
  justify-content: start;
}

/// Flex center
/// @group flex
%flex-center {
  align-items: center;
  align-content: center;
  justify-content: center;
}

/// Flex end
/// @group flex
%flex-end {
  align-items: end;
  align-content: end;
  justify-content: end;
}
