// ------------------------- Typografi ------------------------------

/// @type string | list
$root-font-family: 'Poppins', sans-serif !default;

/// @type stirng
$root-font-size: 16px !default;

/// @type stirng
/// @alias root-font-size
$root-font-size--mobil: 14px !default;

/// @type map
$font-listesi: (
  'h2': 1.5,
  'h3': 1,
  'p': 0.875,
) !default;
// ------------------------------------------------------------------

// ------------------------- Display --------------------------------

/// Display modlarini açıp kapatmak için kullanılır.
///
/// @type boolen
$display-modlari-acik: true !default;

/// @type map | list
$display-listesi: 'block', 'inline', 'inline-block', 'flex', 'inline-flex',
  'initial', 'none' !default;
// ------------------------------------------------------------------

// ------------------------- z-index --------------------------------

/// @type list
$z-index-listesi: '.mobil-nav', '#header', '.popup', 'img' !default;
// ------------------------------------------------------------------

// ------------------------- Medya ----------------------------------

/// @group medya
/// @type map
/// @require {function} px2em
///
/// @example scss - Px ile kullanım
///   $medya-boyutlari: (
///    'xs': 360px,
///    'sm': 576px
///   ) !default;
///
/// @example scss - Em ile kullanım
///   $medya-boyutlari: (
///    'xs': px2em(360),
///    'sm': px2em(768)
///   ) !default;
///
$medya-boyutlari: (
  xs: px2em(360px),
  sm: px2em(576px),
  md: px2em(768px),
  lg: px2em(992px),
  xl: px2em(1200px),
  ul: px2em(1400px),
) !default;

// ------------------------------------------------------------------

// ------------------------- Renk Paleti ----------------------------

$beyaz: hsl(0, 0%, 100%) !default;

$ana-renk: hsl(242, 70%, 51%) !default;
$ana-renk--400: hsl(230, 100%, 67%) !default;
$ana-renk--600: hsl(233, 62%, 18%);
$ana-renk--700: hsl(231, 63%, 12%) !default;

$metin: hsl(213, 14%, 67%) !default;

$siyah: hsl(0, 0%, 0%) !default;

$gri: hsl(213, 14%, 67%) !default;
$kirmizi: hsl(354, 99%, 66%) !default;
// ------------------------------------------------------------------
