.contact-form {
  @include flex-column;

  .satir {
    @include flex-row;
    gap: 8px;

    @include medya(md) {
      @include flex-column;
    }

    @include min-medya(md) {
      gap: 1.25rem;
    }
  }

  .kolon {
    @include flex-column;
    gap: 8px;

    @include min-medya(md) {
      width: 50%;
    }
  }
}
