.footer-main {
  @include padding(3rem 0);

  &__icerik {
    @include flex-row;
    align-items: stretch;

    @include medya(sm) {
      @include flex-column;
    }
  }

  .kolon {
    @include flex-row;

    width: 50%;
    justify-content: space-between;
    align-items: flex-start;

    &:first-child {
      @include flex-column;
    }
  }

  &__nav {
    @include flex-column;
    align-items: flex-start;

    @include min-medya(sm) {
      align-items: flex-end;
    }

    .buton {
      color: $siyah;

      @include min-medya(sm) {
        align-items: flex-end;
      }
    }
  }

  &__aciklama {
    max-width: 20rem;
  }

  &__aciklama,
  &__cc {
    color: $gri;
    font-size: 12px;
  }
}
