<!-- Copyright -->
<section id="copyright" class="copyright">
	<p class="copyright__icerik">

		<!-- Copy Right ikon-->
		<span>&copy;</span>

		<!-- Dinamik Yıl -->
		<script>document.write(new Date().getFullYear())</script>

		<!-- CC Sahibi -->
		<span>Finsmart</span>
	</p>
</section><!-- /Copyright -->